<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" href="/static/styles/comments.css">
</head>

<body>
    <div class="container">
        <div class="post">
            <h2 class="post-title">Post 1</h2>
            <p class="post-content">This is the content of the first post. It's a short description.</p>
            <div class="post-interactions">
                <!-- <form method="post"> -->
                    <button class="like-btn" name="action" value="Like">Like</button>
                    <button id="dislike-btn" name="action" class="dislike-btn" value="Dislike">Dislike</button>
                    <span class="likes-count">0 Likes</span>
                    <span id="dislikes-count" class="dislikes-count">0 Dislikes</span>
                <!-- </form> -->
            </div>
            <div class="comments-section">
                <h3>Comments:</h3>
                <form method="post" action="/comments">
                    <input class="comment-input" placeholder="Write a comment..." name="comment" required>
                    <button class="submit-comment-btn">Submit</button>
                </form>
            </div>
            {{range .Comments}}
            <ul class="comments-list">
                <li>
                    <div class="comment">
                        <div>
                            <p><strong>{{.ID}}</strong>: {{.Content}}</p>
                            <p>Likes: {{.Likes}} | Dislikes: {{.Dislikes}}</p>
                            <form method="post" action="/interact">
                                <input type="hidden" name="user_id" value={{.ID}}>
                                <input type="hidden" name="comment_id" value="{{.ID}}">
                                <button type="submit" name="action" value="like">Like</button>
                            </form>
                            <form method="post" action="/interact">
                                <input type="hidden" name="user_id" value={{.ID}}>
                                <input type="hidden" name="comment_id" value="{{.ID}}">
                                <button type="submit" name="action" value="dislike">Dislike</button>
                            </form>
                            <div>
                                <!-- <button>like</button> -->
                                <input class="reply-btn" type="checkbox" id="toggle-{{.ID}}" />
                                <label class="toggle-label" for="toggle-{{.ID}}">Reply</label>
                                <div class="content">
                                    <div class="reply-section">
                                        <h3>Replies:</h3>
                                        <form method="post" action="/comments">
                                            <input type="hidden" name="comment_id" value="{{.ID}}">
                                            <input class="reply-input" placeholder="Write a reply..." name="reply"
                                                required>
                                            <button class="submit-comment-btn">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <div>
                                    <ul class="replies-list">
                                        {{range .Replies}}
                                        <li>
                                            <p><strong>{{.ID}}</strong>: {{.Content}}</p>
                                        </li>
                                        {{end}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
            {{end}}
        </div>
    </div>
</body>

</html>