<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets for signup page -->
    <link rel="stylesheet" href="../static/styles/signup.css">
    <!-- Boxicons CSS for icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Favicon and preconnected fonts -->
    <link rel="shortcut icon" href="../static/images/—Pngtree—letter b logo_6059128.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Kdam+Thmor+Pro&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <!-- Script for the webpage -->
    <script src="../static/scripts/script.js"></script>
    <!-- Title of the webpage -->
    <title>Sign Up</title>
</head>

<body>
    <!-- Header section with logo and navigation links -->
    <header>
        <div id="header">
            <div class="logo">
                <nav>
                    <a href="/"><img src="../static/images/—Pngtree—letter b logo_6059128.png" alt="logo" width="60px"></a>
                    <ul>
                        <li><a href="/" class="home">Home</a></li>
                    </ul>
                </nav>
                <!-- Flash messages for errors and success -->
                {{with .FlashMessages}}
                    {{range .}}
                        {{if eq .Category "error"}}
                            <div id="error-flash" class="Error_flash hidden" role="alert">
                                {{.Message}}
                                <button type="button" class="btn-close" onclick="closeFlash('error-flash')">&times;</button>
                            </div>
                        {{else}}
                            <div id="success-flash" class="Success_flash hidden" role="alert">
                                {{.Message}}
                                <button type="button" class="btn-close" onclick="closeFlash('success-flash')">&times;</button>
                            </div>
                        {{end}}
                    {{end}}
                {{end}}
            </div>
        </div>
    </header>
    
    <!-- Main content section with signup form -->
    <div class="container">
        <form method="POST">
            <h1>Sign Up</h1>
            <div class="box">
                <input type="text" name="email" placeholder="Email" required>
                <i class='bx bxl-gmail'></i>
            </div>
            <div class="box">
                <input type="text" name="username" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="box">
                <input type="password" name="password1" placeholder="Enter Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="box">
                <input type="password" name="password2" placeholder="Repeat Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <button type="submit" class="btn">Sign Up</button>
            <div class="user">
                <p>Already have an account? <a href="/login"><strong>Sign in</strong></a></p>
            </div>
        </form>
    </div>
</body>

</html>
